<div
  style="
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    overflow: hidden;
  "
>
  <app-sticky-header
    [routerOutletComponent]="routerOutletComponent"
    (onSearch)="search($event)"
    style="grid-column: 1/4; grid-row: 1"
  ></app-sticky-header>

  <div
    style="
      grid-column: 1/4;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      min-height: 0;
      background-color: red;
    "
  >
    <div *ngIf="routerOutletComponent == 'ProductListPageComponent'">
      <div *ngIf="!isMapLoading; else loading">
        <app-map
          *ngIf="!isShopViewing"
          [shops]="this.shops"
          [detectCurrentLocation]="true"
          [checkDBLocation]="true"
          [disabled]="false"
          [radius]="3000"
          (dragend)="onMapDragend($event)"
        ></app-map>
      </div>
      <ng-template #loading>
        <div
          class="loader"
          style="
            padding: 88px 7px 3px 7px;
            height: 100vh;
            z-index: 0;
            border-radius: 10px;
          "
        ></div>
      </ng-template>
    </div>

    <div
      [ngClass]="
        routerOutletComponent == 'ProfilePageComponent' ||
        routerOutletComponent == 'ChatListPageComponent' ||
        routerOutletComponent == 'CartComponent' ||
        routerOutletComponent == 'CheckoutComponent' ||
        routerOutletComponent == 'HomePageComponent'
          ? 'contentProfile'
          : !isShopViewing &&
            routerOutletComponent == 'ProductListPageComponent'
          ? 'content-with-map'
          : 'content-without-map'
      "
    >
      <router-outlet (activate)="fromRouterOutlet($event)"> </router-outlet>
    </div>
  </div>

  <app-sticky-footer
    style="grid-row: 3; grid-column: 1/4"
    *ngIf="
      routerOutletComponent == 'ProductListPageComponent' ||
      routerOutletComponent == 'HomePageComponent' ||
      routerOutletComponent == 'ChatListPageComponent' ||
      routerOutletComponent == 'ProfilePageComponent' ||
      routerOutletComponent == 'CartComponent'
    "
  ></app-sticky-footer>
</div>
