.content-with-map {
  margin: 0px 8px 0px 8px !important;
  z-index: 2;
}
.content-without-map {
  margin: 70px 8px 0px 8px !important;
}

.contentProfile {
  margin: 70px 8px 0px 8px !important;
}

.shopping-cart {
  text-align: center;
}

::ng-deep #map {
  // margin: 70px 7px 3px 7px;
  height: 90vh;
  z-index: 1;
  margin-top: 6.5vh;
  // border-radius: 10px;
}
