<app-sticky-header
  [routerOutletComponent]="routerOutletComponent"
  (onSearch)="search($event)"
></app-sticky-header>

<router-outlet (activate)="fromRouterOutlet($event)"> </router-outlet>

<ng-container
  *ngIf="
    routerOutletComponent == 'DealsPageComponent' ||
    routerOutletComponent == 'HomePageComponent' ||
    routerOutletComponent == 'ChatListPageComponent' ||
    routerOutletComponent == 'ProfilePageComponent' ||
    routerOutletComponent == 'CartComponent'
  "
>
  <app-sticky-footer></app-sticky-footer>
</ng-container>
