::ng-deep .blog-content img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.card {
  background: white;
  border-radius: 0px;
  // overflow: hidden;
  text-align: left;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
  padding: 3px;

  &:first-child {
    border-radius: 7px 7px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 7px 7px;
  }

  &:only-child {
    border-radius: 7px;
  }
}

.ms-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  min-height: 50px;
  justify-content: flex-start;
  line-height: 1em;
  position: relative;

  .mat-icon-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 12px;
  }

  button {
    width: 100%;

    mat-icon {
      font-size: 30px !important;
      text-align: center !important;
      width: 100%;
      color: #f8da50;
    }
  }

  .ms-icon-text {
    margin-top: 4px;
    color: white;
  }
}
