<app-profile>
  <mat-tab-group>
    <mat-tab label="Orders">
      <mat-tab-group
        style="margin-top: 7px"
        mat-align-tabs="start"
        animationDuration="0ms"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="To Pay">
          <ng-container *ngIf="selectedTab == 'to_pay'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="For Review">
          <ng-container *ngIf="selectedTab == 'for_review'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="To Pack">
          <ng-container *ngIf="selectedTab == 'to_pack'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="Ready For Pick-up">
          <ng-container *ngIf="selectedTab == 'for_pickup'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="To Receive">
          <ng-container *ngIf="selectedTab == 'to_receive'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="Cancelled">
          <ng-container *ngIf="selectedTab == 'cancelled'">
            <app-order-list
              [isShop]="false"
              [type]="selectedTab"
            ></app-order-list>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Saved Blogs">
      <app-blog-list
        style="margin-top: 7px"
        [horizontalBlogListView]="true"
        [isShop]="false"
        [savedBlogsOnly]="true"
      ></app-blog-list>
    </mat-tab>
  </mat-tab-group>
</app-profile>
