<div class="gs-main-button-group">
  <div class="gs-main-button-group-horizontal">
    <ng-container>
      <div class="ms-icon-container">
        <button
          mat-icon-button
          color="primary"
          style="width: 70px; height: 70px"
        >
          <img src="assets/icons/messaging.png" width="50" />
        </button>
        <div class="ms-icon-text">Chats</div>
      </div>
    </ng-container>

    <ng-container>
      <div class="ms-icon-container" [routerLink]="'/profile'">
        <button
          mat-icon-button
          color="primary"
          style="width: 70px; height: 70px"
        >
          <img src="assets/icons/account.png" width="50" />
        </button>
        <div class="ms-icon-text">Profile</div>
      </div>
    </ng-container>
  </div>
</div>
