<div class="gs-main-button-group">
  <div class="gs-main-button-group-horizontal">
    <ng-container>
      <div
        class="ms-icon-container"
        [routerLink]="isShop ? '/shop/home' : '/home'"
      >
        <button
          mat-icon-button
          color="primary"
          style="
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>home</mat-icon>
          <div class="ms-icon-text">Home</div>
        </button>
      </div>
    </ng-container>

    <ng-container>
      <div
        class="ms-icon-container"
        [routerLink]="isShop ? '/shop/deals' : '/deals'"
      >
        <button
          mat-icon-button
          color="primary"
          style="
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>dining</mat-icon>
          <div class="ms-icon-text">Deals</div>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="isShop">
      <div class="ms-icon-container" [routerLink]="'/shop/add-product'">
        <button
          mat-fab
          style="
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
          "
        >
          <mat-icon style="color: #f8da50">add</mat-icon>
          <div class="ms-icon-text"></div>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="showCart">
      <div class="ms-icon-container" [routerLink]="'/cart'">
        <div
          *ngIf="lineItemCount"
          style="
            position: absolute;
            top: 15px;
            right: 3px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            font-size: 13px;
          "
        >
          {{ lineItemCount }}
        </div>
        <button
          mat-icon-button
          color="primary"
          style="
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>local_mall</mat-icon>
          <div class="ms-icon-text">Cart</div>
        </button>
      </div>
    </ng-container>

    <ng-container>
      <div
        class="ms-icon-container"
        [routerLink]="isShop ? '/shop/chats' : '/chats'"
      >
        <div
          *ngIf="totalCountSentDeliveredMessages"
          style="
            position: absolute;
            top: 15px;
            right: 3px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            font-size: 13px;
          "
        >
          {{ totalCountSentDeliveredMessages }}
        </div>
        <button
          mat-icon-button
          color="primary"
          style="
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>chat</mat-icon>
          <div class="ms-icon-text">Chats</div>
        </button>
      </div>
    </ng-container>

    <ng-container>
      <div
        class="ms-icon-container"
        [routerLink]="isShop ? '/shop/profile' : '/profile'"
      >
        <button
          mat-icon-button
          color="primary"
          style="
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>account_box</mat-icon>
          <div class="ms-icon-text">Profile</div>
        </button>
      </div>
    </ng-container>
  </div>
</div>
