.gs-main-button-group {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  width: 100vw !important;
  background-color: #f8da50;
  padding: 7px;
  z-index: 2;
  height: 84px;

  .gs-main-button-group-horizontal {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
}

.ms-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;

  justify-content: center;

  position: relative;

  .mat-icon-button {
    width: 40px;
    height: 40px;
  }

  button {
    width: 100%;

    mat-icon {
      font-size: 40px !important;
      text-align: center !important;
      width: 100%;
      color: white;
    }
  }
}

.ms-icon-text {
  color: white;
  line-height: 30px;
}

::ng-deep .mat-fab {
  box-shadow: none !important;
}
