<div class="gs-main-button-group">
  <div class="gs-main-button-group-horizontal">
    <ng-container>
      <div class="ms-icon-container">
        <button mat-icon-button>
          <mat-icon style="font-size: x-large">chat</mat-icon>
        </button>
        <div class="ms-icon-text">Chats</div>
      </div>
    </ng-container>

    <ng-container>
      <div class="ms-icon-container" [routerLink]="'/profile'">
        <button mat-icon-button>
          <mat-icon style="font-size: x-large">account_circle</mat-icon>
        </button>
        <div class="ms-icon-text">Profile</div>
      </div>
    </ng-container>
  </div>
</div>
