<div
  style="
    background: white;
    color: black;

    border-radius: 8px;
    margin: 7px 14px 7px 14px;
  "
  (click)="viewChatroom(spoonwise._id, true)"
>
  <div style="display: flex; justify-content: space-between">
    <div style="flex: 1; min-width: 0">
      <div style="display: flex; flex-direction: column">
        <div style="display: flex; gap: 14px; padding: 7px">
          <div>
            <div>
              <img
                [src]="'assets/images/logo/AI.png'"
                alt=""
                width="65"
                style="border-radius: 50%"
              />
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex: 1;
              min-width: 0;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <div><b>Spoonwise AI</b></div>

              <div>
                {{ spoonwise.latestMessages[0].createdAt | timeAgo }}
              </div>
            </div>

            <div style="display: flex; flex-direction: column; gap: 7px">
              <ng-container *ngIf="spoonwise.latestMessages.length > 0">
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 3px;
                  "
                >
                  <div style="display: flex; flex: 1; min-width: 0">
                    <div
                      *ngIf="
                        [this.authUser._id, this.authUser.shop?._id].includes(
                          spoonwise.latestMessages[0].senderId
                        )
                      "
                      style="margin-right: 7px"
                    >
                      You:
                    </div>
                    <div
                      [innerHTML]="
                        spoonwise.latestMessages[0].content.message
                          | lineClamp: 60
                      "
                    ></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="display: flex; align-items: center"
      *ngIf="spoonwise.sentMessageCount"
    >
      <div
        style="
          background-color: #f8da50;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div>{{ spoonwise.sentMessageCount }}</div>
      </div>
    </div>
  </div>
</div>

<div
  #chatListContainer
  (scroll)="onScroll()"
  style="
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: calc(100dvh - 56.1px - 84px - 79px - 7px - 7px);
    padding: 0px 14px 7px 14px;
  "
>
  <div
    *ngFor="
      let chatroom of chatrooms;
      let i = index;
      trackBy: trackByChatroomId
    "
    style="
      background-color: white;
      color: black;
      padding: 7px;
      border-radius: 8px;
    "
    (click)="viewChatroom(chatroom._id)"
  >
    <div style="display: flex; justify-content: space-between">
      <div style="flex: 1; min-width: 0">
        <div style="display: flex; flex-direction: column">
          <div style="display: flex; gap: 14px">
            <div>
              <div>
                <img
                  [src]="
                    isShop
                      ? chatroom.users.buyer.profile_picture
                        ? chatroom.users.buyer.profile_picture
                        : 'assets/images/logo/spoonwise-icon.png'
                      : chatroom.users.shop.profile_picture
                        ? chatroom.users.shop.profile_picture
                        : 'assets/images/logo/spoonwise-icon.png'
                  "
                  alt=""
                  width="65"
                  style="border-radius: 50%"
                />
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;

                flex: 1;
                min-width: 0;
              "
            >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div>
                  <b>{{
                    isShop
                      ? chatroom.users.buyer.name
                      : chatroom.users.shop.name
                  }}</b>
                </div>
                <div>{{ chatroom.latestMessages[0].createdAt | timeAgo }}</div>
              </div>

              <div style="display: flex; flex-direction: column; gap: 7px">
                <ng-container *ngIf="chatroom.latestMessages.length > 0">
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      gap: 3px;
                    "
                  >
                    <div style="display: flex; flex: 1; min-width: 0">
                      <div
                        *ngIf="
                          [this.authUser._id, this.authUser.shop?._id].includes(
                            chatroom.latestMessages[0].senderId
                          )
                        "
                        style="margin-right: 7px"
                      >
                        You:
                      </div>
                      <div
                        style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          min-width: 0;
                        "
                        [innerHTML]="
                          chatroom.latestMessages[0].content.message
                            | lineClamp: 20
                        "
                      ></div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="display: flex; align-items: center"
        *ngIf="chatroom.sentMessageCount"
      >
        <div
          style="
            background-color: #f8da50;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <div>{{ chatroom.sentMessageCount }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
