<div class="sheet-list" style="margin-bottom: 160px">
  <div class="sheet-handle-wrapper">
    <div class="sheet-handle"></div>
  </div>
  <div
    class="input-group search"
    style="gap: 7px; align-items: center; flex-direction: column"
  >
    <!-- <button mat-flat-button style="height: 70px; text-align: center" disabled>
      <img src="assets/icons/password.png" width="50" />
    </button> -->

    <input
      #otpInput
      type="text"
      class="form-control"
      aria-label="OTP"
      (input)="checkCharCount($event)"
      [(ngModel)]="otp"
      maxlength="4"
      placeholder="0000"
      style="text-align: center; font-size: xxx-large; width: 80%"
    />

    <div>
      <ng-container *ngIf="!isExpired; else expired">
        <button mat-flat-button style="text-align: center" disabled>
          <b style="color: black">{{
            expiresAt | countDown: updateCountdown.bind(this)
          }}</b>
        </button>
      </ng-container>
      <ng-template #expired>
        <button
          mat-flat-button
          style="height: 70px; text-align: center"
          (click)="resendOTP2()"
        >
          <b style="color: black">Resend OTP</b>
        </button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #snackBarTemplate>
  <span style="text-align: center">{{ responseMsg }}</span>
</ng-template>
