<section class="login-background" @fade>
  <div
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    "
  >
    <img
      src="../../assets/images/logo/spoonwise-logo-full.png"
      style="width: clamp(100px, 25vw, 150px)"
    />

    <ng-container *ngIf="currentDisplay == 'login-form'">
      <swiper
        [loop]="true"
        [autoHeight]="true"
        [allowTouchMove]="true"
        [pagination]="{ clickable: true }"
        [navigation]="false"
        [autoplay]="{ delay: 4000, disableOnInteraction: false }"
        class="custom-swiper"
      >
        <ng-template
          *ngFor="
            let src of [
              '../../assets/images/4.png',
              '../../assets/images/2.png',
              '../../assets/images/5.png',
              '../../assets/images/6.png',
              '../../assets/images/3.png',
              '../../assets/images/7.png',
              '../../assets/images/1.png',
            ];
            let i = index
          "
          data-swiper-autoplay="2000"
          swiperSlide
        >
          <img [src]="src" alt="" class="swiper-image" />
        </ng-template>
      </swiper>
    </ng-container>
  </div>

  <app-register
    [currentDisplay]="currentDisplay"
    [hidden]="currentDisplay === 'login-form'"
    (onBack)="back()"
  ></app-register>
  <div *ngIf="currentDisplay == 'login-form'">
    <div class="container">
      <div style="width: 100%">
        <form [formGroup]="this.loginForm">
          <ng-container *ngIf="this.message !== ''">
            <p class="warning-message">
              {{ this.message }}
            </p>
          </ng-container>
          <div class="d-flex flex-column gap-2">
            <div></div>
            <input
              placeholder="Username"
              type="text"
              formControlName="email"
              class="form-control"
            />
            <div>
              <input
                placeholder="Password"
                type="password"
                formControlName="password"
                class="form-control"
              />
            </div>

            <div>
              <button
                mat-flat-button
                class="btn-block fw-bold"
                (click)="login()"
                style="margin-top: 4px"
              >
                LOG IN
              </button>
            </div>
          </div>

          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 7px;
              padding-top: 21px;
            "
          >
            <button
              mat-flat-button
              class="btn-block fw-bold"
              (click)="updateCurrentDisplay('buyer-form')"
            >
              SIGNUP
            </button>
            <button
              mat-flat-button
              class="btn-block fw-bold"
              (click)="updateCurrentDisplay('seller-form')"
            >
              SELL ON SPOONWISE
            </button>
          </div>

          <div
            style="
              color: white;
              font-size: 12px;
              position: absolute;
              bottom: 14px;
              left: 50%;
              transform: translateX(-50%);
            "
          >
            V1.31.0
          </div>
        </form>
        <!-- </mat-card> -->
      </div>
    </div>
  </div>
</section>

<ng-template #OTPSheet let-context>
  <ul class="sheet-list">
    <div style="justify-items: center; margin-bottom: 15px">
      <div
        style="
          margin-top: 8px;
          width: 40px;
          height: 5px;
          background-color: #f7d94f;
          border-radius: 20px;
        "
      ></div>
    </div>

    <div style="margin: 7px">
      <div *ngIf="reviewSheetLoad">
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          Loading...
        </div>
      </div>
    </div>
  </ul>
</ng-template>
