$max-mobile: 590px;

.login-background {
  // background: url("../../assets/images/bg-sandbox.png") no-repeat center center
  //   fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100.037vh !important;
  background-color: #f6f6f6;
  & .container {
    // height: 100vh;
    display: flex;
    justify-content: center;

    // & mat-card {
    //   // height: 680px;

    //   width: 550px;
    //   margin-top: 20px !important;
    //   padding: 2em;
    //   border-radius: 15px;

    & .login-card-header {
      & h2,
      h3,
      p {
        text-align: center;
        // font-family: "Anton-Regular", sans-serif;
      }
    }

    & .warning-message {
      min-height: 20px;
      width: 100%;
      text-align: center;
      color: rgb(199, 0, 0);
      // font-family: "Russo One", sans-serif;
    }
    // }
  }

  .curved-box {
    height: 160px;
    background-color: #f8da50;
    // border-bottom-left-radius: 100% 100%;
    // border-bottom-right-radius: 100% 100%;
    overflow: hidden;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: $max-mobile) {
  // mat-card {
  //   width: 100vw !important;

  //   margin-top: 2em !important;
  //   box-shadow: none !important;
  //   border: none !important;
  // }
}
