$max-mobile: 590px;

.login-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
  background-color: #f8da50;

  & .container {
    display: flex;
    justify-content: center;
    width: min(90vw, 400px);

    & .login-card-header {
      & h2,
      h3,
      p {
        text-align: center;
      }
    }

    & .warning-message {
      min-height: 20px;
      width: 100%;
      text-align: center;
      color: rgb(199, 0, 0);
    }
  }

  .curved-box {
    height: 160px;
    background-color: #f8da50;
    overflow: hidden;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-container {
  width: 100vw;
  // height: 500px;
}

.swiper-slide {
  display: flex; /* center content inside slide */
  justify-content: center;
  align-items: center;
  background: transparent; /* remove gray background */
}

/* Ensure the Swiper container takes the desired space */
.custom-swiper {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image styling for responsiveness and object-fit */
.swiper-image {
  width: min(75vw, 400px);
  height: min(87vw, 440px);
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto; /* fallback centering */
}
