xxxxxxxxxxxxx

<!-- <div
  style="
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 7px;
    z-index: 0;
    margin-top: 7px;
    height: 79px;

    margin: 7px 14px 0px 14px;
  "
>
  <div
    style="
      display: flex;
      align-items: center;
      gap: 7px;
      justify-content: space-between;
    "
  >
    <div style="display: flex; flex-direction: row; gap: 7px">
      <div>
        <ng-container *ngIf="authUser?.role === 'buyer'; else storeLogo">
          <img
            [src]="
              authUser?.profile_picture?.url ||
              'assets/images/logo/spoonwise-icon.png'
            "
            alt=""
            width="65"
            style="border-radius: 50%"
          />
        </ng-container>
        <ng-template #storeLogo>
          <img
            [src]="
              authUser?.shop?.logo || 'assets/images/logo/spoonwise-icon.png'
            "
            alt=""
            width="65"
            style="border-radius: 50%"
          />
        </ng-template>
      </div>

      <div>
        <div style="font-size: 20px">
          <ng-container *ngIf="authUser?.role === 'buyer'; else storeName">
            {{ authUser.fullname }}
          </ng-container>
          <ng-template #storeName>
            {{ authUser?.shop?.businessName }}
            <div
              *ngIf="
                authUser?.shop?.verification_process?.status === 'APPROVED'
              "
            >
              verified
            </div>
          </ng-template>
        </div>

        <ng-container *ngIf="authUser?.role === 'buyer'; else verification"
          >{{ points }} points</ng-container
        >

        <ng-template #verification>
          <div [ngSwitch]="authUser?.shop?.verification_process?.status">
            <p *ngSwitchCase="'APPROVED'"></p>
            <p *ngSwitchCase="'IN_PROGRESS'">IN-PROGRESS</p>
            <p *ngSwitchDefault>
              <a [routerLink]="['/shop/profile/verify-business']"
                ><button mat-stroked-button>
                  Verify Your Business
                  <mat-icon
                    style="color: #00c6c8; font-size: large; margin-left: 7px"
                    >arrow_forward</mat-icon
                  >
                </button>
              </a>
            </p>
          </div>
        </ng-template>
      </div>
    </div>

    <div style="display: flex">
      <div>
        <div (click)="logout()">
          <button mat-icon-button>
            <mat-icon
              style="color: #00c6c8; font-size: x-large; margin-left: 7px"
              >logout</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <ng-content></ng-content>
</section> -->
