<div style="
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 7px;
    z-index: 0;
    height: 79px;
    margin: 7px 14px 0px 14px;
  ">
  <div style="
      display: flex;
      align-items: start;
      gap: 7px;
      justify-content: space-between;
    ">
    <div style="display: flex; flex-direction: row; gap: 7px">
      <div>
        <ng-container *ngIf="authUser?.role === 'buyer'; else storeLogo">
          <img [src]="
              authUser?.profile_picture?.url ||
              'assets/images/logo/spoonwise-icon.png'
            " alt="" width="65" style="border-radius: 50%" />
        </ng-container>
        <ng-template #storeLogo>
          <img [src]="
              authUser?.shop?.logo || 'assets/images/logo/spoonwise-icon.png'
            " alt="" width="65" style="border-radius: 50%" />
        </ng-template>
      </div>

      <div>
        <div style="font-size: 20px">
          <ng-container *ngIf="authUser?.role === 'buyer'; else storeName">
            {{ authUser.fullname }}
          </ng-container>
          <ng-template #storeName>
            {{ authUser?.shop?.businessName }}

          </ng-template>
        </div>

        <ng-container *ngIf="authUser?.role === 'buyer'; else verification">{{ points }} points</ng-container>

        <ng-template #verification>

        </ng-template>
      </div>
    </div>

    <div style="display: flex">
      <div class="ms-icon-container" style="color: black">

        <ng-container *ngIf="
                authUser?.shop?.verification_process?.status === 'APPROVED' else notVerified
              ">
          <button mat-icon-button>
            <mat-icon>verified</mat-icon>
          </button>
        </ng-container>

        <ng-template #notVerified>

          <a [routerLink]="['/shop/profile/verify-business']">
            <button mat-icon-button style="position: relative;">

              <mat-icon fontSet="material-symbols-outlined">
                brightness_alert
              </mat-icon>
              <ng-container
                *ngIf="authUser?.shop?.verification_process?.status === 'IN_PROGRESS'; else notVerifiedCircle">
                <span class="verification-status-dot verification-status-dot--pending"></span>
              </ng-container>

              <ng-template #notVerifiedCircle>
                <span class="verification-status-dot verification-status-dot--alert"></span>
              </ng-template>



            </button>
          </a>
        </ng-template>

        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<section>
  <ng-content></ng-content>
</section>