.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 7px; /* Space between cards */
  padding: 7px 0px 7px 0px;
  margin-bottom: 220px;
}

/* Each card stretches based on screen size */
.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Image takes full width */
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Content area */
.card-content {
  padding: 7px;
  flex-grow: 1; /* Makes the content fill the available space */
  // background-color: #00c6c8;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.price-color {
  color: #ee4d2d;
}

mat-button-toggle {
  min-width: 10em;
}

/* 📌 Mobile: Change to one column */
// @media (max-width: 768px) {
//   .container {
//     grid-template-columns: 1fr; /* Single column on small screens */
//   }
// }
