<div style="padding: 7px">
  <form
    [formGroup]="registrationForm"
    style="width: min(90vw, 400px); margin: auto"
  >
    <div style="display: flex; flex-direction: column">
      <ng-container *ngIf="currentDisplay === 'seller-form'">
        <app-map
          [height]="'200px'"
          [zIndex]="'0'"
          [borderRadius]="'10px'"
          (dragend)="onDragend($event)"
          [detectCurrentLocation]="detectCurrentLocation"
          [checkDBLocation]="false"
          [disabled]="false"
          class="mb-2"
        ></app-map>
      </ng-container>
      <ng-container *ngIf="currentDisplay === 'seller-form'">
        <input
          placeholder="Business Name"
          type="text"
          formControlName="businessname"
          class="form-control"
          [class.is-invalid]="
            registrationForm.get('businessname')?.touched &&
            registrationForm.get('businessname')?.invalid
          "
        />
        <ng-container
          *ngIf="isFormControlInvalid('businessname', 'Business Name') as err"
        >
          <mat-error [innerHtml]="err.message"></mat-error>
        </ng-container>
      </ng-container>

      <input
        placeholder="First Name"
        type="text"
        formControlName="firstname"
        class="form-control"
        [class.is-invalid]="
          registrationForm.get('firstname')?.touched &&
          registrationForm.get('firstname')?.invalid
        "
      />
      <ng-container
        *ngIf="isFormControlInvalid('firstname', 'First Name') as err"
      >
        <mat-error [innerHtml]="err.message"></mat-error>
      </ng-container>

      <input
        placeholder="Last Name"
        type="text"
        formControlName="lastname"
        class="form-control"
        [class.is-invalid]="
          registrationForm.get('lastname')?.touched &&
          registrationForm.get('lastname')?.invalid
        "
      />

      <ng-container
        *ngIf="isFormControlInvalid('lastname', 'Last Name') as err"
      >
        <mat-error [innerHtml]="err.message"></mat-error>
      </ng-container>

      <input
        placeholder="Email"
        type="text"
        formControlName="email"
        class="form-control"
        [class.is-invalid]="
          registrationForm.get('email')?.touched &&
          registrationForm.get('email')?.invalid
        "
      />
      <ng-container *ngIf="isFormControlInvalid('email', 'Email') as err">
        <mat-error [innerHtml]="err.message"></mat-error>
      </ng-container>

      <div formGroupName="passwordGroup">
        <input
          placeholder="Password"
          type="text"
          formControlName="password"
          class="form-control"
          [class.is-invalid]="
            (registrationForm.get('passwordGroup.password')?.touched &&
              registrationForm.get('passwordGroup.password')?.invalid) ||
            (registrationForm.get('passwordGroup')?.invalid &&
              registrationForm.get('passwordGroup')?.touched)
          "
        />
        <ng-container
          *ngIf="
            isFormControlInvalid('passwordGroup.password', 'Password') as err
          "
        >
          <mat-error [innerHtml]="err.message"></mat-error>
        </ng-container>

        <input
          placeholder="Confirm Password"
          type="text"
          formControlName="confirmPassword"
          class="form-control"
          [class.is-invalid]="
            (registrationForm.get('passwordGroup.password')?.touched &&
              registrationForm.get('passwordGroup.password')?.invalid) ||
            (registrationForm.get('passwordGroup')?.invalid &&
              registrationForm.get('passwordGroup')?.touched)
          "
        />
        <ng-container
          *ngIf="isFormGroupInvalid('passwordGroup', 'Passwords') as err"
        >
          <mat-error [innerHtml]="err.message"></mat-error>
        </ng-container>
      </div>
    </div>

    <div
      style="display: flex; gap: 7px; flex-direction: column; margin-top: 7px"
    >
      <button
        mat-flat-button
        type="button"
        class="btn-block fw-bold w-full"
        (click)="createAccount()"
      >
        <ng-container *ngIf="!createAccountLoad; else createAccountLoader">
          CREATE ACCOUNT
        </ng-container>
        <ng-template #createAccountLoader>
          <i class="fas fa-circle-notch fa-spin"></i>
        </ng-template>
      </button>

      <button mat-button class="btn-block fw-bold w-full mt-2" (click)="back()">
        BACK
      </button>
    </div>
  </form>
</div>
