<ng-container *ngIf="ratingVisibility || distanceVisibility">
  <div
    #shopListContainer
    (scroll)="onScroll()"
    style="
      display: flex;
      flex-direction: column;
      overflow-x: scroll;
      max-height: 42.7dvh;
      min-height: 42.7dvh;
    "
  >
    <div *ngFor="let shop of nearestShops" class="card">
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 7px;
          align-items: center;
          width: 100%;
        "
      >
        <div style="display: flex; flex-direction: column; gap: 7px; flex: 2">
          <div style="display: flex; gap: 7px">
            <div>
              <img
                [src]="'assets/images/logo/spoonwise-icon.png'"
                alt=""
                width="40"
                style="border-radius: 50%"
              />
            </div>

            <div>
              <h4>{{ shop.businessName }}</h4>
            </div>
          </div>

          <div
            style="
              display: flex;
              flex: 1;
              flex-direction: row;
              gap: 7px;
              width: 100%;
              justify-content: space-evenly;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 7px;
                align-items: center;
              "
            >
              <div>Distance</div>
              <div>~{{ shop.distance }} km</div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 7px;
                align-items: center;
              "
            >
              <div>Rating</div>
              <div>{{ shop.averageRating || "-" }}</div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 7px;
                align-items: center;
              "
            >
              <div>Deals</div>
              <div>{{ shop.productCount || "-" }}</div>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; gap: 7px">
          <a [routerLink]="['/deals/shop', shop._id]"
            ><button mat-stroked-button style="width: 100%">
              Visit Shop
            </button></a
          >

          <button
            (click)="chatSeller(shop._id)"
            mat-stroked-button
            style="width: 100%"
          >
            Chat Seller
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
