<button
  class="side-button"
  style="top: 263px; left: 10px"
  (click)="toggleProductVisibility()"
>
  <i
    class="material-icons"
    [ngStyle]="{ color: productVisibility ? '#f8da50' : '#f6f6f6' }"
    >restaurant</i
  >
</button>

<button
  class="side-button"
  style="top: 313px; left: 10px"
  (click)="toggleShopProductVisibility()"
>
  <i
    class="material-icons"
    [ngStyle]="{ color: ratingVisibility ? '#f8da50' : '#f6f6f6' }"
  >
    star
  </i>
</button>
<button
  class="side-button"
  style="top: 363px; left: 10px"
  (click)="toggleDistanceVisibility()"
>
  <i
    class="material-icons"
    [ngStyle]="{ color: distanceVisibility ? '#f8da50' : '#f6f6f6' }"
  >
    route
  </i>
</button>
<app-shop-list
  [distanceVisibility]="distanceVisibility"
  [ratingVisibility]="ratingVisibility"
  [sortBy]="'rating'"
  class="position"
></app-shop-list>
<app-product-list
  [visibility]="productVisibility"
  [showPublishSlider]="false"
  class="position"
></app-product-list>
