<div
  style="
    background-color: white;

    border-radius: 15px 15px 0px 0px;
    margin-top: 90px;
    padding: 7px;
  "
>
  <div style="display: flex; align-items: center; gap: 7px">
    <div>
      <img
        [src]="authUser.profile_picture.url"
        alt=""
        width="65"
        style="border-radius: 50%"
      />
    </div>
    <div style="display: flex; flex-direction: column">
      <div style="font-size: 20px">
        {{ authUser.fullname }}
      </div>
      <div>{{ points }} points</div>
    </div>
  </div>
</div>
<section style="max-height: 20vh; padding-bottom: 600px">
  <mat-tab-group
    mat-align-tabs="start"
    animationDuration="0ms"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="To Pay">
      <ng-container *ngIf="selectedTab == 'to_pay'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="For Review">
      <ng-container *ngIf="selectedTab == 'for_review'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="To Pack">
      <ng-container *ngIf="selectedTab == 'to_pack'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="Ready For Pick-up">
      <ng-container *ngIf="selectedTab == 'for_pickup'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="To Receive">
      <ng-container *ngIf="selectedTab == 'to_receive'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="Cancelled">
      <ng-container *ngIf="selectedTab == 'cancelled'">
        <app-order-list [type]="selectedTab"></app-order-list>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</section>

<div class="gs-main-button-group">
  <div class="gs-main-button-group-horizontal">
    <ng-container>
      <button
        mat-flat-button
        color="main-green"
        (click)="logout()"
        class="btn-block fw-bold"
      >
        Log Out
      </button>
    </ng-container>
  </div>
</div>
