.add-product-page {
  height: calc(100dvh - 56.1px - 84px);
  overflow-y: scroll;
  margin-top: 7px;
  padding: 0 14px 14px;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 14px;

  border-radius: 14px;
  overflow-x: auto;
  gap: 1em;
}

.example-box {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: transparent;
  font-size: 14px;
  // flex-grow: 1;

  &img {
    border-radius: 14px;
  }

  // &:first-child::before {
  //   content: "Thumbnail";
  //   position: absolute;
  //   bottom: 7px;
  //   left: 7px;
  //   background-color: #f8da5096;
  //   color: white;
  //   padding: 2px 8px;
  //   font-size: 12px;
  //   border-radius: 7px;
  //   white-space: nowrap;
  // }

  & .buttons {
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-direction: column;
    background: #f8da5096;
    border-radius: 14px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.ls-webcam-remote {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;

  .ls-controls {
    flex: 0 0 30%;
  }

  .ls-snapshot {
    text-align: center;

    .blank {
      width: 250px; /* or any custom size */
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      background: #f3f3f3;
      border-radius: 20px;
    }

    img {
      width: 100%; /* or any custom size */
      height: 100%;
      object-fit: contain;
      border-radius: 20px;
    }
  }
}

::ng-deep .mat-horizontal-content-container {
  background-color: #f5f5f5;
  padding: 0px !important;
}

::ng-deep .add-product-stepper.mat-stepper-horizontal {
  border-radius: 20px 20px;
  overflow: hidden;
  background-color: white;
}

::ng-deep .add-product-stepper .mat-horizontal-stepper-header-container {
  background-color: white;
}

::ng-deep .add-product-stepper .mat-step-header[aria-selected="true"] {
  background-color: white;
}

::ng-deep .add-product-stepper .mat-step-header[aria-selected="true"]:hover,
::ng-deep .add-product-stepper .mat-step-header[aria-selected="true"]:focus,
::ng-deep
  .add-product-stepper
  .mat-step-header[aria-selected="true"].cdk-program-focused,
::ng-deep
  .add-product-stepper
  .mat-step-header[aria-selected="true"].cdk-keyboard-focused {
  background-color: white;
}
