<div class="add-product-page">
  <mat-stepper linear #stepper class="add-product-stepper">
    <mat-step [stepControl]="copiesForm" [editable]="true">
      <ng-template matStepLabel>Upload Fruit Images</ng-template>
      <div style="display: flex;gap: 7px; flex-direction: column;">
        <form [formGroup]="copiesForm">
          <mat-checkbox hidden formControlName="copies"></mat-checkbox>
        </form>

        <ng-container *ngIf="copies.length >= 1; else noPictures">
          <div style="display: flex; align-items: center; gap: 7px">
            <div #scrollContainer cdkDropList cdkDropListOrientation="horizontal" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let copy of copies; index as i" cdkDrag>
                <div class="buttons">
                  <button (click)="openCropper(cropperSheet, copy)" mat-icon-button color="primary" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  ">
                    <mat-icon style="font-size: 25px; color: white">crop</mat-icon>
                  </button>
                  <button (click)="remove(copy)" mat-icon-button color="primary" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  ">
                    <mat-icon style="font-size: 25px; color: white">delete</mat-icon>
                  </button>
                </div>

                <div style="position: absolute; bottom: 7px; left: 7px">
                  <ng-container *ngIf="i === 0; else imageOrderNo">
                    <mat-icon style="font-size: 35px; color: #f8da50">star</mat-icon>
                  </ng-container>
                  <ng-template #imageOrderNo>
                    <!-- <span style="font-weight: bold; font-size: x-large; color: white">{{ i + 1 }}</span> -->
                  </ng-template>
                </div>
                <img [src]="copy.img" alt="" width="200" style="border-radius: 14px" />
              </div>
            </div>

          </div>
        </ng-container>

        <ng-template #noPictures> </ng-template>

        <input #openCameraInput type="file" id="picture" name="picture" accept="image/*" capture="environment"
          (change)="onFileChange($event)" hidden />

        <input #openGalleryInput type="file" id="picture" name="picture" accept="image/*"
          (change)="onFileChange($event)" multiple hidden />
        <div
          [style]="
          copies.length
            ? 'display: flex; align-items: center; justify-content: center;background-color: white; padding: 14px 14px; border-radius: 14px; gap: 7px; '
            : 'display: flex; align-items: center; justify-content: center;background-color: white; padding: 14px 14px; border-radius: 14px; gap: 7px; height: calc(100vh - 72px - 56.1px - 84px - 7px - 7px - 7px);'">
          <!-- <ng-container *ngIf="copies.length">
          <div style="width: 64px"></div>
        </ng-container> -->
          <button mat-icon-button color="primary" style="width: 50px; height: 50px" (click)="openGallery()">
            <mat-icon style="font-size: 40px; color: #f8da50">image</mat-icon>
          </button>

          <button mat-icon-button color="primary" style="width: 50px; height: 50px" (click)="openCamera()">
            <mat-icon style="font-size: 40px; color: #f8da50">camera_alt</mat-icon>
          </button>


        </div>
        <ng-container *ngIf="copies.length">
          <div
            style="display: flex; align-items: center; justify-content: center;background-color: white; padding: 14px 14px; border-radius: 14px; gap: 7px;">

            <button mat-flat-button class="btn-block fw-bold"
              style="height: 50px; border-radius: 50px; background-color: #f8da50;color: white;"
              (click)="stepper.next()">
              NEXT

            </button>
          </div>
        </ng-container>
      </div>
    </mat-step>
    <mat-step [stepControl]="productDetailsForm" [editable]="true">
      <ng-template matStepLabel>Fruit Details</ng-template>

      <form [formGroup]="productDetailsForm" (ngSubmit)="submitForm()" style="margin-top: 7px;">
        <div style="display: flex;gap: 7px;flex-direction: column;">
          <div style="
          background-color: white;
          padding: 14px 14px;
          border-radius: 14px;
        ">
            <div style="display: flex; justify-content: flex-end">
              <mat-slide-toggle formControlName="isPublished">Publish</mat-slide-toggle>
            </div>
          </div>

          <div style="display: flex; flex-direction: column">
            <div style="
          background-color: white;
          padding: 14px 14px;
          border-radius: 14px;
        ">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('name')">
                {{ getErrorMessage("name") }}
              </mat-error>
              <div style="display: flex; gap: 7px">
                <div style="flex: 1; min-width: 0">
                  <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput formControlName="qty" (paste)="numberStrict($event)"
                      (keypress)="numberStrict($event)" />
                  </mat-form-field>
                  <mat-error *ngIf="isFieldInvalid('qty')">
                    {{ getErrorMessage("qty") }}
                  </mat-error>
                </div>
                <div style="flex: 1; min-width: 0">
                  <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="price" (paste)="currencyStrict($event)"
                      (keypress)="currencyStrict($event)" />
                  </mat-form-field>
                  <mat-error *ngIf="isFieldInvalid('price')">
                    {{ getErrorMessage("price") }}
                  </mat-error>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <mat-select formControlName="category" multiple>
                  <mat-option *ngFor="let categoryId of categoryIds" [value]="categoryId">
                    {{ categoryLabels[categoryId] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('category')">
                {{ getErrorMessage("category") }}
              </mat-error>
            </div>



          </div>

          <div style="display: flex; flex-direction: column">
            <div style="
          background-color: white;
          padding: 14px 14px;
          border-radius: 14px;
        ">

              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="10" style="resize: none"></textarea>
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('description')">
                {{ getErrorMessage("description") }}
              </mat-error>

              <mat-form-field appearance="outline">
                <mat-label>Expiry Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expiryDate" [min]="minDate" readonly />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('expiryDate')">
                {{ getErrorMessage("expiryDate") }}
              </mat-error>

              <mat-form-field appearance="outline">
                <mat-select formControlName="specialOffers" multiple>
                  <mat-option *ngFor="let specialOfferId of specialOfferIds" [value]="specialOfferId">
                    {{ specialOfferLabels[specialOfferId] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('specialOffers')">
                {{ getErrorMessage("specialOffers") }}
              </mat-error>
            </div>
          </div>

          <div style="
          background-color: white;
          padding: 14px 14px;
          border-radius: 14px;
            display: flex;
            flex-direction: column;
           
            justify-content: end;
            gap: 7px;
        ">







            <button mat-flat-button class="btn-block fw-bold"
              style="height: 50px; border-radius: 50px; background-color: #f8da50;color: white;" type="submit"
              [disabled]="addProdBtnOnLoad">
              <ng-container *ngIf="!addProdBtnOnLoad; else loadupdate">
                SAVE FRUIT
              </ng-container>
              <ng-template #loadupdate>
                <i class="fas fa-circle-notch fa-spin"></i>
              </ng-template>
            </button>
            <button mat-flat-button class="btn-block fw-bold"
              style="height: 50px; border-radius: 50px; background-color: #f8da50;color: white;"
              (click)="stepper.previous()">BACK</button>
          </div>
        </div>

      </form>
    </mat-step>
  </mat-stepper>

  <ng-template #cropperSheet let-context>
    <ul class="sheet-list">
      <div style="justify-items: center; margin-bottom: 15px">
        <div style="
            margin-top: 8px;
            width: 40px;
            height: 5px;
            background-color: #7f7f7f1a;
            border-radius: 20px;
          "></div>
      </div>

      <div style="margin: 0px 20px 20px 20px">
        <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" format="png"
          (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"></image-cropper>

        <button mat-flat-button color="main-green" (click)="cropImage()" class="btn-block fw-bold">
          CROP IMAGE
        </button>
      </div>
    </ul>
  </ng-template>
</div>