<app-sticky-header
  [routerOutletComponent]="routerOutletComponent"
></app-sticky-header>

<router-outlet (activate)="fromRouterOutlet($event)"></router-outlet>

<app-sticky-footer
  *ngIf="
    routerOutletComponent == 'DealsPageComponent' ||
    routerOutletComponent == 'HomePageComponent' ||
    routerOutletComponent == 'ChatListPageComponent' ||
    routerOutletComponent == 'ProfilePageComponent' ||
    routerOutletComponent == 'AddProductComponent'
  "
  [showCart]="false"
  [isShop]="true"
></app-sticky-footer>
