<ng-container *ngIf="horizontalBlogListView; else verticalBlogListView">
  <div #blogListContainer (scroll)="onScroll()"
    style="display: flex; flex-direction: column; gap: 7px; overflow-y: scroll" [ngStyle]="
      savedBlogsOnly
        ? { height: 'calc(100dvh - 56.11px - 84px - 79px - 48px - 21px)' }
        : { height: 'calc(100dvh - 56.11px - 84px - 14px)' }
    ">
    <ng-container *ngIf="blogs.length > 0; else noBlogs">
      <div *ngFor="let blog of blogs" style="
          display: flex;
          flex-direction: column;
          gap: 7px;
          background-color: white;
          border-radius: 14px;
          padding: 7px;
          min-width: 300px;
          min-height: auto;
        ">
        <div
          style="display: flex; flex-direction: column; align-items: start;gap: 3px; justify-content: space-between; background-color: white;border-radius: 14px;">
          <div>
            <div style="font-size: 32px;
    line-height: 30px;">{{ blog.title | lineClamp: 200 }}</div>
          </div>
          <div style="display: flex;align-items:start;justify-content:start;gap: 7px;">
            <div>{{ blog.createdAt | timeAgo }}</div>
            <div>

              <ng-container *ngIf="blog.audience === 'PUBLIC' else privateAudience">
                <mat-icon>public</mat-icon>
              </ng-container>
              <ng-template #privateAudience>
                <mat-icon>lock</mat-icon>
              </ng-template>
            </div>
          </div>
        </div>
        <div>
          <div class="blog-content" [innerHTML]="blog.content | lineClamp: 270"></div>
        </div>
        <div style="display: flex; gap: 7px; flex-direction: row">
          <a [routerLink]="[isShop ? '/shop/blog' : '/blog', blog._id]" style="width: 100%">
            <button mat-button style="width: 100%">READ POST</button>
          </a>

          <ng-container *ngIf="!blog.isSaved; else isSavedBlog">
            <button (click)="save(blog)" mat-icon-button color="primary" style="
                display: flex;
                align-items: center;
                justify-content: center;
              ">
              <mat-icon style="font-size: 45px;color: #ffa0a0;">favorite</mat-icon>
            </button>
          </ng-container>

          <ng-template #isSavedBlog>
            <button (click)="unsave(blog._id)" mat-icon-button color="primary" style="
                display: flex;
                align-items: center;
                justify-content: center;
              ">
              <mat-icon style="font-size: 45px; color: red">favorite</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #verticalBlogListView>
  <ng-container *ngIf="blogs.length > 0; else noBlogs">
    <div #blogListContainer (scroll)="onScroll()" style="
        display: flex;
        flex-direction: column;
        gap: 7px;
        overflow-y: scroll;
        height: 100%;
      ">
      <div *ngFor="let blog of blogs" style="
          display: flex;
          flex-direction: column;
          gap: 7px;
          background-color: #f6f6f6;
          border-radius: 7px;
          padding: 7px;
        ">

        <div
          style="display: flex; flex-direction: column; align-items: start;gap:3px; justify-content: space-between; background-color: white;gap: 3px; border-radius: 14px;gap: 3px;">
          <div>
            <div style="font-size: 32px;
    line-height: 30px;">{{ blog.title | lineClamp: 200 }}</div>
          </div>
          <div style="display: flex;align-items:start;justify-content:start;gap: 7px;">
            <div>{{ blog.createdAt | timeAgo }}</div>
            <div>

              <ng-container *ngIf="blog.audience === 'PUBLIC' else privateAudience">
                <mat-icon>public</mat-icon>
              </ng-container>
              <ng-template #privateAudience>
                <mat-icon>lock</mat-icon>
              </ng-template>
            </div>
          </div>
        </div>

        <div>
          <div class="blog-content" [innerHTML]="blog.content | lineClamp: 270"></div>
        </div>
        <div style="display: flex; gap: 7px; flex-direction: column">
          <div>
            <a [routerLink]="['/admin/blog', blog._id]">
              <button mat-flat-button style="width: 100%">View</button>
            </a>
          </div>
          <div>
            <button (click)="onEdit(blog)" mat-flat-button style="width: 100%">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #noBlogs>
  <div style="background-color: white; border-radius: 8px; padding: 14px">
    No <ng-container *ngIf="savedBlogsOnly">saved</ng-container> blogs
    available.
  </div>
</ng-template>