<div class="map-container" id="map"></div>

<div *ngIf="showLocationButton" class="map-control-group map-control-group--top">
  <button
    type="button"
    class="side-button"
    aria-label="Detect current location"
    (click)="detectLocation($event)"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <i class="material-icons">gps_fixed</i>
  </button>
</div>

<div
  *ngIf="showProductButton || topRatedShopButton || nearestShopButton"
  class="map-control-group map-control-group--side"
>
  <div *ngIf="showProductButton">
    <button
      type="button"
      class="side-button"
      (click)="onMapControlClick($event, 'products')"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <i class="material-icons">restaurant</i>
    </button>
  </div>
  <ng-container *ngIf="topRatedShopButton">
    <button
      type="button"
      class="side-button"
      (click)="onMapControlClick($event, 'topRatedShops')"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <i class="material-icons"> star </i>
    </button>
  </ng-container>
  <ng-container *ngIf="nearestShopButton">
    <button
      type="button"
      class="side-button"
      (click)="onMapControlClick($event, 'topNearShops')"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <i class="material-icons"> route </i>
    </button>
  </ng-container>
</div>
