:host {
  position: relative;
}

:host .map-container,
:host #map {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

.map-control-group {
  position: absolute;
  display: flex;
  left: 10px;
  z-index: 99999;
  flex-direction: column;
  gap: 10px;
  pointer-events: auto;
}

.map-control-group--top {
  top: 96px;
}

.map-control-group--side {
  top: 195px;
}

.side-button {
  background: white;
  border-radius: 10px;
  color: #f8da50;
  padding: 4px;
  border: none;
  width: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
}

::ng-deep .leaflet-control-attribution {
  bottom: 7px !important;
  right: 7px !important;
  display: none;
}

::ng-deep .leaflet-bar a {
  border-bottom: 0px !important;
}

::ng-deep .sheet-container {
  background: transparent !important; /* remove dark overlay */
  pointer-events: none !important; /* disables backdrop clicks */
}

::ng-deep .sheet {
  pointer-events: auto !important; /* keeps sheet content clickable */
}
