<div *ngIf="!productOnLoad" style="background: white; padding: 7px">
  <swiper
    [loop]="true"
    [autoHeight]="true"
    [allowTouchMove]="true"
    [pagination]="{ clickable: true }"
    [navigation]="false"
    class="custom-swiper"
  >
    <ng-template
      *ngFor="let src of images; let i = index"
      data-swiper-autoplay="2000"
      swiperSlide
    >
      <img [src]="src" alt="" class="swiper-image" />
    </ng-template>
  </swiper>

  <div>{{ output }}</div>
  <div class="prod-bar">
    <div class="price">
      <b>{{ product.price | currency : "PHP" : "symbol" }}</b>
    </div>
    <div>
      {{ product.name }}
    </div>
  </div>

  <div class="prod-desc">
    <div>
      {{ product.description }}
    </div>
  </div>

  <div
    matRipple
    (click)="openShopReviewsSheet(product.shopId)"
    style="
      background-color: #f6f6f6;
      color: black;
      padding: 20px 7px;
      border-radius: 8px;
      margin-top: 7px;
      margin-bottom: 1em;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
    "
  >
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
      "
    >
      <div>
        <b
          >Shop Reviews <span>{{ product.totalReviews }}</span></b
        >
      </div>
      <div><mat-icon style="font-size: x-large">chevron_right</mat-icon></div>
    </div>
  </div>

  <ng-container *ngIf="!isShop">
    <div class="gs-main-button-group">
      <div class="gs-main-button-group-horizontal">
        <ng-container>
          <div class="ms-icon-container">
            <button mat-icon-button>
              <mat-icon style="font-size: x-large">question_answer</mat-icon>
            </button>
            <div class="ms-icon-text">Chat Now</div>
          </div>
        </ng-container>

        <ng-container>
          <div class="ms-icon-container">
            <button mat-icon-button (click)="addToCart()">
              <mat-icon style="font-size: x-large">shopping_cart</mat-icon>
            </button>
            <div class="ms-icon-text">Add to Cart</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
