.gs-main-button-group {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  width: 100vw !important;
  height: 81px;
  padding: 7px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: end;
}
