<div style="height: 80vh; overflow-y: scroll">
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0px 10px 10px 10px;
    "
  >
    <div
      *ngFor="let cart of cartItems; let i = index"
      style="
        background-color: rgb(223, 223, 223);
        color: black;
        padding: 10px;
        border-radius: 8px;
      "
    >
      <div>
        <div
          style="
            margin-bottom: 12px;
            display: grid;
            gap: 16px;
            grid-template-columns: 12px 1fr;
          "
        >
          <div>
            <mat-checkbox
              [checked]="isShopChecked(cart)"
              (change)="toggleShopCheckbox($event, cart)"
              class="example-margin"
            ></mat-checkbox>
          </div>
          <div>
            <b style="font-weight: 700; margin-bottom: 12px">{{
              cart.shop.businessName
            }}</b>
          </div>
        </div>

        <div
          *ngFor="let lineItem of cart.lineItems; let i = index"
          style="
            display: grid;
            grid-template-columns: 12px 1fr 2fr;
            gap: 16px;
            margin-bottom: 10px;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <mat-checkbox
              [checked]="lineItem.checked"
              (change)="onCheckedChange($event, lineItem, cart.shop)"
              class="example-margin"
            ></mat-checkbox>
          </div>
          <div (click)="viewProduct(lineItem.productId)">
            <img
              [src]="lineItem.images[0]"
              alt=""
              style="
                width: 110px;
                height: auto;
                object-fit: cover;
                border-radius: 15px;
              "
            />
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          >
            <div class="line-clamp" (click)="viewProduct(lineItem.productId)">
              {{ lineItem.name }}
            </div>
            <div style="display: flex; flex-direction: column; gap: 7px">
              <div *ngFor="let offer of lineItem.specialOffers; let i = index">
                {{ offer.name }}
              </div>
              <div></div>
            </div>
            <div style="display: flex; justify-content: space-between">
              <div style="display: flex; flex-direction: column">
                <div>Stocks: {{ lineItem.qty }}</div>

                <b style="color: #fb5630">{{
                  lineItem.price | currency : "PHP" : "symbol"
                }}</b>
              </div>
              <div>
                <app-counter
                  [value]="lineItem.orderQty"
                  [step]="1"
                  [min]="1"
                  [max]="lineItem.qty"
                  [wrap]="false"
                  (onQtyChange)="onQtyChange($event, lineItem, cart.shop)"
                ></app-counter>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gs-main-button-group">
  <div style="display: flex; justify-content: space-between">
    <div></div>
    <div style="display: flex; align-items: center; gap: 15px">
      <div>
        Total
        <b>
          {{ lineItemTotal | currency : "PHP" : "symbol" }}
        </b>
      </div>
      <div>
        <button
          mat-flat-button
          color="main-green"
          style="height: 40px"
          [routerLink]="['/checkout']"
        >
          Check Out ({{ checkedLineItemCount }})
        </button>
      </div>
    </div>
  </div>
</div>
