<div
  style="
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: scroll;
    height: 90vh;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 7px;
      background-color: #f6f6f6;
      border-radius: 7px;
      padding: 7px;
    "
  >
    <div style="display: flex; flex-direction: column">
      <div>
        <h3>{{ blog.title }}</h3>
      </div>
      <div style="display: flex; justify-content: space-between">
        <div>{{ blog.createdAt | timeAgo }}</div>
        <div>{{ blog.audience }}</div>
      </div>
    </div>
    <div>
      <div class="blog-content" [innerHTML]="blog.content"></div>
    </div>
  </div>
</div>
