<div style="max-height: 89.4dvh; min-height: 89.4dvh; margin-top: 81.7px">
  <div
    #chatContainer
    (scroll)="onScroll()"
    style="
      max-height: 84.2dvh;
      min-height: 84.2dvh;
      overflow-y: scroll;
      padding: 7px;
      display: flex;
      flex-direction: column-reverse;
      gap: 7px;
    "
  >
    <div
      style="display: flex; justify-content: end; align-items: center"
      *ngIf="
        chatroomMessages[0] &&
        [this.authUser._id, this.authUser.shop?._id].includes(
          chatroomMessages[0].senderId
        )
      "
    >
      {{ chatroomMessages[0].status | titlecase }} ·
      {{ chatroomMessages[0].updatedAt | timeAgo }}
    </div>

    <div
      *ngFor="
        let message of chatroomMessages;
        let i = index;
        trackBy: trackByMessageId
      "
    >
      <div
        *ngIf="i === chatroomMessages.length - 1 && onLoad"
        style="text-align: center; margin-top: 10px"
        style="margin-top: 10px"
      >
        Loading...
      </div>
      <ng-container
        *ngIf="
          [this.authUser._id, this.authUser.shop?._id].includes(
            message?.senderId
          );
          else leftSide
        "
      >
        <div style="display: flex; justify-content: end; align-items: center">
          <div>
            <p class="message">
              {{ message.content.message }}
            </p>
          </div>
        </div>
      </ng-container>

      <ng-template #leftSide>
        <div style="display: flex; justify-content: start; align-items: center">
          <div>
            <p class="message">
              {{ message.content.message }}
            </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <input [(ngModel)]="text" type="text" />
  <button (click)="sendMessage()">send</button>
</div>
