<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container">
  <!-- <ng-container *ngIf="true"> -->
  <mat-toolbar color="primary" class="topbar telative">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon -->
        <b>
          <!-- <img
            src="assets/images/logo-icon.png"
            alt="homepage"
            class="dark-logo"
          />

          <img
            src="assets/images/logo-light-icon.png"
            alt="homepage"
            class="light-logo"
          /> -->

          <img
            src="assets/images/logo/spoonwise-logo-full.png"
            alt="homepage"
            style="width: 170px"
          />
        </b>

        <span fxShow="false" fxShow.gt-xs>
          <!-- <img
            src="assets/images/logo-text.png"
            alt="homepage"
            class="dark-logo"
          />

          <img
            src="assets/images/logo-light-text.png"
            class="light-logo"
            alt="homepage"
          /> -->
        </span>
      </a>
    </div>

    <button
      mat-icon-button
      style="color: white !important"
      (click)="snav.toggle()"
      value="sidebarclosed"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>

    <app-header></app-header>
  </mat-toolbar>
  <!-- </ng-container> -->
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
  >
    <!-- <ng-container *ngIf="true"> -->
    <mat-sidenav
      #snav
      id="snav"
      class="dark-sidebar pl-xs"
      [mode]="mobileQuery.matches ? 'side' : 'over'"
      fixedTopGap="0"
      [opened]="mobileQuery.matches"
      [disableClose]="mobileQuery.matches"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <!-- </ng-container> -->

    <mat-sidenav-content class="page-wrapper">
      <!-- <div class="breadcrumb">
        <div class="bc-header"></div>
        <div class="bc-nav">
          <p>Books > Book List</p>
        </div>
      </div> -->

      <div class="page-content">
        <!-- <mat-card class="breadcrumb">
                    <div class="bc-nav">Book > Book List</div>
                </mat-card> -->
        <router-outlet><app-spinner></app-spinner></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
