<div class="gs-modal-content">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 7px;
    "
  >
    <img [src]="data.file" alt="Photo of a Shiba Inu" width="128" />
  </div>

  <h3 style="text-align: center">{{ this.data.title }}</h3>
  <div>
    <p style="text-align: center" [innerHtml]="this.data.message"></p>
  </div>

  <div class="buttons">
    <button mat-button (click)="delete()" *ngIf="this.data.deletebutton">
      Yep
    </button>

    <button
      mat-flat-button
      color="main-green"
      *ngIf="this.data.deletebutton"
      (click)="close()"
    >
      Nope
    </button>
    <button
      mat-flat-button
      color="main-green"
      *ngIf="this.data.okaybutton"
      (click)="close()"
    >
      <div [innerHtml]="safeHtml"></div>
    </button>
    <button *ngIf="this.data.yesBtn" mat-stroked-button (click)="yes()">
      Yes
    </button>
    <button
      color="main-green"
      *ngIf="this.data.noBtn"
      mat-stroked-button
      (click)="no()"
    >
      No
    </button>
  </div>
</div>
