<div class="card" style="margin: 7px 14px 7px 14px">
  <div>
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 8px;
        padding: 14px 7px;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 7px;
          flex: 2;
        "
      >
        <div style="display: flex; gap: 7px">
          <div>
            <img
              [src]="shop.logo"
              alt=""
              width="40"
              style="border-radius: 50%"
            />
          </div>

          <div>
            <h4>{{ shop.businessName }}</h4>
          </div>
        </div>

        <div
          style="
            display: flex;
            flex: 1;
            flex-direction: row;
            gap: 21px;
            width: 100%;
            justify-content: start;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: column;

              align-items: center;
            "
          >
            <div>Distance</div>
            <div>~{{ shop.distance }} km</div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;

              align-items: center;
            "
          >
            <div>Rating</div>
            <div>{{ shop.averageRating || "-" }}</div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;

              align-items: center;
            "
          >
            <div>Deals</div>
            <div>{{ shop.productCount || "-" }}</div>
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 7px;
        "
      >
        <div class="ms-icon-container" style="color: black">
          <button mat-icon-button (click)="chatSeller(shop._id)">
            <mat-icon>chat_bubble</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-product-list
  [isShop]="true"
  [visibility]="true"
  [showPublishSlider]="false"
></app-product-list>
